<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'todoapp/styles.css' %}">
        {% block title %}{% endblock %}
    </head>
    <body style="font-family: Poppins Regular, sans-serif;">
        <header>
            <div class="header-div">
                <div align="center">
                    <div>
                        <h1 style="color: white;">ToDo Web App</h1>
                    </div>
                    
                    <span><big>by Andr&eacute;s Quiroz Valdovinos</big></span>
                </div>
                <br>
                <nav>
                    <div align="center" style="margin-bottom: 10px;">
                        <ul>
                            <li class="nav-bar-items"><a href="/">Home</a></li>
                            <li class="nav-bar-items"><a href="/add_todo/">Add Todo</a></li>
                            <li class="nav-bar-items"><a href="/remove_todo/">Remove Todo</a></li>
                            <li class="nav-bar-items"><a href="/about_todo/">Why Todo?</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="main-div">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="footer-div">
                <div align="center">
                    <h3>ToDo Web App</h3>
                    <ul>
                        <li class="nav-bar-items"><a href="#">About us</a></li>
                        <li class="nav-bar-items"><a href="#">Github repo</a></li>
                        <li class="nav-bar-items"><a href="#">Politics</a></li>
                        <li class="nav-bar-items"><a href="#">Privacy and security</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>